.header {
  display: flex;
  align-items: center;
  padding: 16px;
  background: $header-bg-color;
  border-bottom: 1px solid $header-border-color;

  & &__item {
    align-self: stretch;

    &.--full {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
