@import '~simplebar/dist/simplebar.min.css';
@import './_val/z-index';
@import './_val/color';
@import './_val/size';
@import './_mixin/fontFace';
@import './_mixin/util';
@import './_placeholder/sidemenuListItem';
@import './_partial/avatar';
@import './_partial/user';
@import './_partial/userInfo';
@import './_partial/tabBar';
@import './_partial/userHeader';
@import './_partial/body';
@import './_partial/headerDropdown';
@import './_partial/header';
@import './_partial/logo';
@import './_partial/icon';
@import './_partial/button';
@import './_partial/followButton';
@import './_partial/input';
@import './_partial/select';
@import './_partial/filterForm';
@import './_partial/project';
@import './_partial/projectsIndex';
@import './_partial/projectItem';
@import './_partial/projectSidemenu';
@import './_partial/categoriesList';

@include include-mplus('2m');

body {
  font-family: mplus, sans-serif;
  font-size: 14px;
  color: $body-font-color;
  background-color: $body-bg-color;
}
